<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bulletin</title>
  </head>
  <body>
    <!-- Navigation-->
    <nav>
      <div>
        <a href="index.html">Human Rights Bulletin</a>
        <button>Menu</button>
        <div>
          <ul>
            <li>
              <a href="index.html"> Home </a>
            </li>
            <li>
              <a href="news.html">News</a>
            </li>
            <li>
              <a href="calendar.html">Calendar</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Header-->
    <header>
      <div>
        <div>
          <div>
            <div>
              <h1>Human Rights Bulletin</h1>
              <span
                >A News Bulletin about violation of human rights in
                Afghanistan</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <div>
      <div>
        <div>
          <!-- news preview-->
          <div>
            <a href="news.html">
              <h2>News Headline Example - 1</h2>
              <h3>News sub-headline example - 1</h3>
            </a>
            <p>
              posted by
              <a href="#!">news source</a>
              on Date dd/mm/yyyy
            </p>
          </div>
          <!-- Divider-->
          <hr />
          <!-- news preview-->
          <div>
            <a href="news.html">
              <h2>News Headline Example - 1</h2>
              <h3>News sub-headline example - 1</h3>
            </a>
            <p>
              posted by
              <a href="#!">news source</a>
              on Date dd/mm/yyyy
            </p>
          </div>
          <!-- Divider-->
          <hr />
          <!-- news preview-->
          <div>
            <a href="news.html">
              <h2>News Headline Example - 1</h2>
              <h3>News sub-headline example - 1</h3>
            </a>
            <p>
              posted by
              <a href="#!">news source</a>
              on Date dd/mm/yyyy
            </p>
          </div>
          <!-- Divider-->
          <hr />
          <!-- news preview-->
          <div>
            <a href="news.html">
              <h2>News Headline Example - 1</h2>
              <h3>News sub-headline example - 1</h3>
            </a>
            <p>
              posted by
              <a href="#!">news source</a>
              on Date dd/mm/yyyy
            </p>
          </div>
          <!-- Divider-->
          <hr />
          <!-- Pager-->
          <div>
            <a href="#">Older News →</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <footer>
      <div>
        <div>
          <div>
            <ul>
              <li>
                <a href="#">
                  <span>
                    <i></i>
                    <i></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <i></i>
                    <i></i>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>
                    <i></i>
                    <i></i>
                  </span>
                </a>
              </li>
            </ul>
            <div>Copyright &copy; Human Rights Bulletin</div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
