{% include "header.html" %}
<!-- Main Content-->
<div>
  <div>
    <div>
      <!-- news preview-->
      <div>
        <a href="news.html">
          <h2>News Headline Example - 1</h2>
          <h3>News sub-headline example - 1</h3>
        </a>
        <p>
          posted by
          <a href="#!">news source</a>
          on Date dd/mm/yyyy
        </p>
      </div>
      <!-- Divider-->
      <hr />
      <!-- news preview-->
      <div>
        <a href="news.html">
          <h2>News Headline Example - 1</h2>
          <h3>News sub-headline example - 1</h3>
        </a>
        <p>
          posted by
          <a href="#!">news source</a>
          on Date dd/mm/yyyy
        </p>
      </div>
      <!-- Divider-->
      <hr />
      <!-- news preview-->
      <div>
        <a href="news.html">
          <h2>News Headline Example - 1</h2>
          <h3>News sub-headline example - 1</h3>
        </a>
        <p>
          posted by
          <a href="#!">news source</a>
          on Date dd/mm/yyyy
        </p>
      </div>
      <!-- Divider-->
      <hr />
      <!-- news preview-->
      <div>
        <a href="news.html">
          <h2>News Headline Example - 1</h2>
          <h3>News sub-headline example - 1</h3>
        </a>
        <p>
          posted by
          <a href="#!">news source</a>
          on Date dd/mm/yyyy
        </p>
      </div>
      <!-- Divider-->
      <hr />
      <!-- Pager-->
      <div>
        <a href="#">Older News →</a>
      </div>
    </div>
  </div>
</div>
